html {
    font-family: Roboto;
}
.sidebar {
    width: 150px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #191718;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar li {
    height: 44px;
    background-color: #191718;
    /* margin-bottom: 10px; */
    border: 1px solid #5C5C5C;
}

.sidebar a {
    display: block;
    padding: 10px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 18.75px;
    color: #AAAAAA;
    text-decoration: none;
}

.sidebar a:hover {
    color: #FFFFFF;

}
.sidebar li:hover {

    background-color: #5C5C5C;
}

/*  */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 150px); /* chiều rộng của content bằng 100% trừ đi chiều rộng của sidebar */
    background-color: #FFFFFF;
    margin-left: 150px;
  }
  
  .content img {
    max-width: 100%;
    max-height: 100%;
    /* logoNCC 1 */
    width: 310px;
    height: 122px;
    background: url(logoNCC.png);
    margin-bottom: 30px;
  }
  .content .box1 {
    width: calc(100% - 150px - 2 * 80px);
    /* height: 210px; */
    background: #EFEFEF;
  }
  
  h3 {
    text-align: center;
    height: 21px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #000000;
  }
  
  p {
    /* position: absolute; */
    /* width: 972px;
    height: 95px; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 30px;
  }
  .box2 {
    display: inline-block;
    width: 33%;
    text-align: left;
  }

.box2 img {
  float: left;
  /* margin-right: 10px; */
  width: 80px;
  height: 80px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 150px;
    margin-right: 150px;
  }
h2 {
    font-size: 20px;
    width: 100%;
}
  
.box2 p {
    font-size: 13.5px;
    text-align: justify;
    margin: 20px;
    line-height: 15px;
}

.footer {
  
    position: fixed;
    bottom: 0;
    left: 150px;
    right: 0;
    border-top: 1px solid #DEDEDE;
  }
  .footer p {
    margin-left: 150px;
  }